a {
  color: blue;
}
td {
  min-width: 10px;
}
body {
  font-family: sans-serif;
}
.bloque1 {
  background-color: yellow;
  border: solid 4px black;
}
.inline1 {
  font-style: italic;
  font-weight: bold;
}
.inline2 {
  color: red;
}
